/**
 * Fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

@font-face {
    font-family: "AmsiProNormal-Ultra";
    src:url("./../fonts/AmsiProNormal-Ultra.eot") format("eot");
    src:url("./../fonts/AmsiProNormal-Ultra.ttf") format("ttf");
    src:url("./../fonts/AmsiProNormal-Ultra.woff") format("woff");
}

@font-face {
    font-family: "AmsiProNormal-BoldItalic";
    src: url("./../fonts/AmsiProNormal-BoldItalic.eot") format("eot");
    src: url("./../fonts/AmsiProNormal-BoldItalic.ttf") format("ttf");
    src: url("./../fonts/AmsiProNormal-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "AmsiProNormal-BlackItalic";
    src: url("./../fonts/AmsiProNormal-BlackItalic.eot") format("eot");
    src: url("./../fonts/AmsiProNormal-BlackItalic.ttf") format("ttf");
    src: url("./../fonts/AmsiProNormal-BlackItalic.woff") format("woff");
}



